#audio {
    position: relative;
    top: 5%;
    right: 2%;
    /* margin: 2vh 2vw; */
    font-family: 'nstc';
    color: 'black';
    font-size: 2em;
    z-index: 10;
}

.rhap_container {
    background-color: transparent !important;
    box-shadow: none !important;
}

.rhap_main-controls-button {
    color: rgb(74, 64, 36) !important;
} 

.rhap_main-controls-button {
    color: rgb(74, 64, 36) !important;

}

.rhap_progress-bar {
    background-color: rgba(74, 64, 36, 0.5) !important;
}

.rhap_progress-filled {
    background-color: rgb(74, 64, 36) !important;
}

.rhap_progress-indicator {
    background-color: rgb(74, 64, 36) !important;
}

.rhap_repeat-button {
    color: rgb(74, 64, 36) !important;
}

.rhap_volume-button {
    color: rgb(74, 64, 36) !important;
}

.rhap_volume-indicator {
    background-color: rgb(74, 64, 36) !important;
}

.rhap_volume-bar {
    background-color: rgba(74, 64, 36, 0.5) !important;
}

.rhap_volume-filled {
    background-color: rgb(74, 64, 36) !important;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}