.layer2bg {
    background-image: url("../images/layer2_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    position: absolute;
}

.homelink {
    position: fixed;
    top: 5%;
    left: 2%;
    margin: 2vh 2vw;
    font-size: 2em;
    color: white;
    text-decoration: none;
    text-shadow: 0.1em 0.1em 0.2em black;
}

h1 {
    margin-bottom: 1em;
    font-weight: bold;
}

h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

#text {
    margin-top: 10em;
    font-family: 'nstc';
    color: 'black';
}