body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: "nstc-bold";   /*Can be any text*/
  src: url("../font/NotoSerifTC-Bold.otf") format("opentype");
}

@font-face {
  font-family: "nstc-black";   /*Can be any text*/
  src: url("../font/NotoSerifTC-Black.otf") format("opentype");
}

@font-face {
  font-family: "nstc-lighter";   /*Can be any text*/
  src: url("../font/NotoSerifTC-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: "nstc-medium";   /*Can be any text*/
  src: url("../font/NotoSerifTC-Medium.otf") format("opentype");
}

@font-face {
  font-family: "nstc-light";   /*Can be any text*/
  src: url("../font/NotoSerifTC-Light.otf") format("opentype");
}

@font-face {
  font-family: "nstc";   /*Can be any text*/
  src: url("../font/NotoSerifTC-Regular.otf") format("opentype");
}

@font-face {
  font-family: "shstc-medium";   /*思源宋體*/
  src: url("../font/SourceHanSerifTC-Medium.otf") format("opentype");
}

@font-face {
  font-family: "shstc-semibold";   /*思源宋體*/
  src: url("../font/SourceHanSerifTC-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "shstc-bold";   /*思源宋體*/
  src: url("../font/SourceHanSerifTC-Bold.otf") format("opentype");
}