
#scene div {
  /* width: fit-content;。 */
  text-align: center;
}

#buildings {
  z-index: 1;
  width: 100%;
}

#airship {
  z-index: 2;
  width: 100%;
}

#house {
  z-index: 3;
  width: 100%;
}

/* .overlap-img {
  width: 100vw;
  height: 100%;
} */